body {
    margin: 0px;
    background-color: #ffc5c5;
    background: url(../images/ex_bg1.png) no-repeat center 0;
    background-size:cover;         /* 让背景图基于容器大小伸缩 */
    background-attachment:fixed;   /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */ 
}

section {
  display: -webkit-flex;
  display: flex;  /*flex布局*/
  min-height: calc(100vh - 80px);
}


/* 页眉区样式 */
div#header {
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: rgb(77, 147, 94);                /*文字背景颜色*/
    font-family: FZShuTi;
}

/* 导航栏设置 */
#nav {
    width: 20%; /*设置宽度为百分比，缩小窗口时不会太丑*/
    background: #dad0ff;  /*背景颜色*/
    flex: 1;
    font-size: larger;
    line-height: 35px;
}

/* 头像居中 */
.ph {
  text-align: center;

}

/* 头像设置成圆形 */
.lo {
  border-radius:50%;
}


/* 导航区列表样式 */
ul {
    list-style-type: none;     /*删除导航栏的项目符号*/
    margin: 0;                  /*外边距*/
    padding: 0;                 /*内边距*/
    width: 100%;               /*设置宽度*/
}
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
  }
  
  /* 鼠标悬停时改变链接颜色 */
  li a:hover {
    background-color: #e1bc7c;
    text-decoration: none;
  }

  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #b3e4b3;
    background-image: url(../images/ex_bg2.jpg) ;
    padding: 10px;
  }

  #cont_1 {
    width: 300px;
    height: 500px;
    text-align: center;
    float: left;
    margin-right: 17px;
  }

  #cont_2 {
    width: 300px;
    height: 500px;
    text-align: center;
    float: left;
  }
  #cont_3 {
    width: 300px;
    height: 500px;
    float: right;
    text-align: center;
  }

/* 页脚 */
  #footer {
    height: 60px;
    background-color: rgb(184, 118, 241);
  }
  
  #footer p {
    color: #000000;
    text-align: center;
  }