body {
    margin: 0px;
    background-color: #ffc5c5;
    background: url(../images/ho_bg.jpg) no-repeat center 0;
    background-size:cover;         /* 让背景图基于容器大小伸缩 */
    background-attachment:fixed;   /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */ 
}

section {
  display: -webkit-flex;
  display: flex;
  min-height: calc(100vh - 80px);
}

/* 页眉区样式 */
div#header {
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: rgb(77, 147, 94);     /*文字背景颜色*/
    font-family: STXinwei;
}

/*导航栏*/
#nav {
    width: 20%; /*设置宽度为百分比，缩小窗口时不会太丑*/
    background: #fff8eb;  /*背景颜色荔枝白*/
    flex: 1;
    font-size: larger;
    line-height: 35px;
}

/*设置头像居中*/
.ph {
  text-align: center;
}

/*设置头像为圆形*/
.lo {
  border-radius:50%;
}

/* 导航区列表样式 */
ul {
    list-style-type: none;     /*删除导航栏的项目符号*/
    margin: 0;                  /*外边距*/
    padding: 0;                 /*内边距*/
    width: 100%;               /*设置宽度*/
}
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
  }
  
  /* 鼠标悬停时改变链接颜色 */
  li a:hover {
    background-color: #6a8d6d;
    text-decoration: none;
  }

  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-image: url(../images/ho_bg2.jpg);
    background-color: #b3e4b3;
    padding: 10px;
  }

  div.inner {
    width: 1000px;
    height: 300px;
}

  #cont_1 {
    width: 1000px;
    height: 400px;
  }
  #cont_1 #cont_1_1 {
    text-align: center;
    width: 250px;
    float: left;
    margin-right: 20px;

  }
  #cont_1 #cont_1_2 {
    text-align: center;
    width: 200px;
    float: left;
    margin-right: 20px;
  }
  #cont_1 #cont_1_3 {
    text-align: center;
    width: 300px;
    float: left;
  }

  #cont_2 {
    height: 430px;
    width: 1000px;
  }

  #cont_2_1{
    text-align: center;
    float: left;
    width: 280px;
  }

  #cont_3 {
    width: 1000px;
    height: 300px;
  }
  #cont_3_1,#cont_3_2, #cont_3_3 {
    float: left;
    width: 250px;
    margin-right: 10px;
  }
  #cont_3_4 {
    text-align: center;
    width: 200px;
    float:right;
  }

  #cont_4_1 {
    text-align: center;
    height: 220px;
    width: 480px;
    float:left;
  }
  #cont_4_2 {
    width: 480px;
    float: right;

  }
  #cont_4_3 {
    width: 480px;
    float:left;
  }
  #cont_4_4 {
    width: 480px;
    float: right;
  }
 
 
 

  #footer {
    height: 60px;
    background-color: rgb(155, 203, 171);
  }
  
  #footer p {
    color: #000000;
    text-align: center;
  }